

@font-face {
    font-family: 'DangerOn';
    src: url("/assets/DangerOnTheMotorway-xV10.ttf") format('truetype');
}
@font-face {
    font-family: 'Ozone';
    src: url('/assets/Ozone-xRRO.ttf') format('truetype');
}
.centeritem {
    text-align: center;
}

.TyrianContent{
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 1vw;
    font-family: "DangerOn","Ozone", "sans-serif";
    font-size: 37px;
    color: darkorange;
    background-color: #2f2c2c;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
th, td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;

}
thead tr {
    color: antiquewhite;
}
tr {
    background-color: #201C1D;
    color: darkorange;
}
thead tr th:first-child,
tbody tr td:first-child {
    border-radius: 10px 0 0 10px;
}

thead tr th:last-child,
tbody tr td:last-child {
    border-radius: 0 10px 10px 0;
}
tbody tr {
    border-radius: 10px;
    overflow: hidden;
}



/* Header styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0.5vh;
    border-radius: 10px;
    background-color: #191717;
    padding: 0.5vh;
}

.current-stop {
    font-weight: bold;
    color: #ffd399;
    margin-right: 30px;
}

/* Search styles */
.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-width: 300px;

}


h2 {
    color: #ff9300;
    font-size: 40px;
    text-align: center;

}
::placeholder {
    color: #ffd399;
}
.search-input {
    font-family: 'DangerOn', "Ozone", "sans-serif";;
    color: #ffd399;
    font-size: 37px;
    padding: 8px;
    border: 3px solid antiquewhite;
    border-radius: 4px;
    width: -webkit-fill-available;
    background-color: #191717;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2f2c2c;
    border: 2px solid #191717;
    border-radius: 8px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.search-results.visible {
    display: block;
}

.search-result-item {
    margin: 7px;
    cursor: pointer;
    padding: 5px;
    background-color: #191717;
    border-radius: 4px;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

/*
display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
*/

.header-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.left-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.right-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #faebd7;
    background-color: #201C1D;
    margin:2px;
    font-family: DangerOn, Ozone, "sans-serif";
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}





.github-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #ffae4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-button {
    display: inline-flex;
    align-items: center;
    background-color: #24292e;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #2f363d;
}

.footer-button svg {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.footer-button span {
    margin-left: 5px;
}

/* Specific styles for the GitHub button to maintain its larger size */
.github-button {
    font-size: 25px;
}

.github-button svg {
    width: 24px;
    height: 24px;
}
.github-button svg {
    margin-right: 5px;
}

.github-button span {
    margin-left: 5px;
}